body {
  font-family: "Open Sans", sans-serif;

  background-color: #f5f9fc;
  padding-top: 100px;
  padding: 50px;

  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-weight: 300;
  }

  .results {
    color: #7a92a5;
    font-size: 12px;
    margin: 12px 5px;
  }

  @mixin inputsStyles {
    text-overflow: ellipsis;
    display: inline-block;
    color: #20455e;
    font-size: 14px;
    outline: 0;
    transition: border 0.1s ease;
    resize: none;
  }

  textarea {
    @include inputsStyles();
    padding: 10px;
    margin: 14px 0;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    &::placeholder {
      color: #b6c1cd;
    }
  }

  header {
    width: 100%;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 6px 1px #e1e5e8;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 10px 20px;
    position: relative;

    input {
      @include inputsStyles();
      width: 100%;
      border: none;

      &::placeholder {
        color: #b6c1cd;
      }
    }
  }

  a {
    color: #3899ec;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
  }

  button {
    min-width: 10em;
    background-color: #fff;
    color: #20455e;
    border: none;
    border-radius: 8px;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 15px;
    box-shadow: 0 2px 6px 1px #e1e5e8;
    transition: box-shadow 0.2s ease-in-out;
    outline: none;
    &:hover {
      box-shadow: 0 2px 6px 1px #d3d7da;
    }

    &:disabled {
      background-color: #20455e;
      color: #fff;
    }

    &.on {
      background-color: #bdbdbd;
    }
  }

  .sort {
    margin-bottom: 14px;
  }

  .tickets {
    margin: 0;
    padding: 0;

    .ticket {
      width: 100%;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 6px 1px #e1e5e8;
      margin-bottom: 14px;
      display: flex;
      flex-direction: column;
      border: 1px solid #fff;
      padding: 10px 20px;
      transition: box-shadow 0.2s ease-in-out;
      position: relative;

      &:hover {
        box-shadow: 0 2px 6px 1px #d3d7da;
        .hideBtn {
          display: block;
        }
      }

      input {
        @include inputsStyles();
        padding: 10px;
        margin: 14px 0;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        width: 100%;
        &::placeholder {
          color: #b6c1cd;
        }
      }

      textarea {
        margin: 14px 0;
        width: 100%;
      }

      .title {
        margin: 15px 0;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        color: #20455e;
      }

      .content {
        color: #7a92a5;
        font-weight: 300;
        font-style: normal;

        &.less {
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }

        &.more {
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: none;
        }
      }

      .hideBtn {
        display: none;
        position: absolute;
        right: 0;
        padding: 0 15px;
      }

      .submit-btn {
        width: 110px;
        background-color: #3899ec;
        color: #fff;
        align-self: flex-end;
        margin: 0;
      }

      footer {
        display: flex;
        justify-content: space-between;

        .meta-data {
          color: #7a92a5;
          font-size: 12px;
          margin: 10px 0;
          flex-shrink: 0;
        }
      }
    }
  }
}
